{% extends 'backend/base.html' %}

{% load staticfiles %}

{% block title %}Management backend{% endblock %}
{% block external_header %}

{% endblock %}
{% block body %}

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Question List</h1>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>user id</th>
                <th>gender</th>
                <th>age</th>
                <th>glasses</th>
                <th>education</th>
                <th>picture taking frequency</th>
                <th>computer screen</th>
              </tr>
            </thead>
            <tbody>
                {% for qa in qas %}
              <tr>
                <td>{{ qa.user_id }}</td>

                
                <td>{{ qa.gender }}</td>
                <td>{{ qa.age }}</td>
                <td>{{ qa.isGlasses }}</td>
                <td>{{ qa.edu }}</td>
                <td>{{ qa.pho }}</td>
                <td>{{ qa.screen }}</td>
              </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
        {% include 'paginator.html' %}
      </div>




{% endblock %}

{% block external_js %}
<script>$("#manage_3").addClass("active")</script>
{% endblock %}