{% load staticfiles %}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Image Assessment</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link href="{% static 'css/login.css' %}" type="text/css" rel="stylesheet"/>
</head>

<body>
    <noscript>Sorry. Your browser does not support JavaScript, so it is not possible to properly use this platform.</noscript>
<!--    <button id="but1" onclick="tab();" class = "tap">管理员登录</button>   -->
    <div id="login">
        <form method="post" >
            {% csrf_token %}
            <fieldset>
                <legend id="word">Manager login</legend>
                <input id="input1" placeholder="user name" type="text" name="u">
                <input id="input2"  placeholder="password" type="password" name="p">
                <button  class="but" type="submit">Confirm</button>
            </fieldset>
        </form>
    </div>

    <script type="text/javascript">{{script}}('{{wrong}}')</script>
</body>

</html>